* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
}

.container-pai {
    width: 200px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    margin: 5px;
}

.titulo {
    font-size: 13px;
}

.input-text {
    width: 160px;
    padding: 1px 3px;
    border: 1px solid #4c4c4d;
    outline: none;
}

.container-button {
    width: 160px;
    padding: 5px 0;
    gap: 5px;

    display: flex;
    justify-content: space-evenly;
}

.btn {
    width: 77px;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #4c4c4d;
    cursor: pointer;
}

.result {
    width: 160px;
    padding: 1px 3px;
    background-color: #fff;
    border: 1px solid #4c4c4d;
    outline: none;
    resize: none;
}

p {
    margin-top: 5px;
}