* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.container-pai {
    width: 200px;
    height: 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    margin: 5px;
}

.titulo {
    font-size: 0.8rem;
}

.input-text {
    width: 160px;
    padding: 1px 3px;
    margin-bottom: 5px;
    outline: none;
}

/* Features */
.container-button {
    width: 170px;
    margin-bottom: 5px;
    gap: 5px;
    display: flex;
    justify-content: center;
}

.btn {
    width:30px;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #4c4c4d;
    cursor: pointer;    
}

.btnTema {    
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
}

.result {
    width: 160px;
    padding: 1px 3px;
    margin-bottom: 5px;
    background-color: #fff;
    outline: none;
    resize: none;
}

p {
    font-size: 0.8rem;
}

a {
   font-size: 0.8rem;
}

/* Configurações trocar Tema */
body {
    background-color: #f2f2f2;
    color: #222;
    font-family: "Ubuntu", sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

/* Tema escuro */
body.dark-theme {
    background-color: #222;
    color: #f2f2f2;
}

.dark-theme .btnTema {
    background-color: #222;
}

.dark-theme a {
    color: #0088e8;
}